<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./hng-vn.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial Rounded MT Bold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="hng-vn">
      <img class="hng-vn-child" alt="" src="public/rectangle-2@2x.png" />
      <div class="hng-vn-item"></div>
      <img class="hng-vn-inner" alt="" src="public/rectangle-3@2x.png" /><img
        class="hng-vn-child1"
        alt=""
        src="public/rectangle-15.svg"
      /><img class="hng-vn-inner" alt="" src="public/rectangle-3@2x.png" />
      <div class="hng-vn-inner1">
        <img
          class="frame-child11"
          alt=""
          src="public/rectangle-31@2x.png"
          data-scroll-to="rectangleImage"
        />
      </div>
      <div class="hng-vn-child3"></div>
      <div class="v-black-rouge3">Về Black Rouge</div>
      <div class="trang-ch-gii-container3">
        <ul class="trang-ch-gii-thiu-sn-phm3">
          <li class="trang-ch7">Trang chủ</li>
          <li class="trang-ch7">Giới thiệu</li>
          <li class="trang-ch7">Sản phẩm</li>
          <li class="trang-ch7">Khuyến mãi</li>
          <li class="trang-ch7">Tin tức</li>
          <li>Liên hệ</li>
        </ul>
      </div>
      <div class="chnh-sch-bo-container3">
        <ul class="trang-ch-gii-thiu-sn-phm3">
          <li class="trang-ch7">Chính sách bảo mật</li>
          <li class="trang-ch7">Chính sách vận chuyển</li>
          <li class="trang-ch7">Chính sách đổi trả</li>
          <li>Quy định sử dụng</li>
        </ul>
      </div>
      <div class="a-ch-tng-container3">
        <ul class="trang-ch-gii-thiu-sn-phm3">
          <li class="trang-ch7">
            Địa chỉ: Tầng 10, 194 Golden Building, 473 Điện Biên Phủ, Phường 25,
            Bình Thạnh, Hồ Chí Minh
          </li>
          <li class="trang-ch7">
            Email: cskh@dmnc.vn or blackrougevn@gmail.com
          </li>
          <li>Điện thoại: 0909 312 350</li>
        </ul>
      </div>
      <div class="bn-quyn-thuc2">
        © Bản quyền thuộc về Legal Entity | DM&C CO., LTD | Cung cấp bởi Sapo
      </div>
      <div class="hng-vn-child4"></div>
      <div class="hng-vn-child5"></div>
      <img class="image-1-icon" alt="" src="public/image-1@2x.png" /><img
        class="hng-vn-child6"
        alt=""
        src="public/rectangle-1@2x.png"
      /><img
        class="hng-vn-child7"
        alt=""
        src="public/rectangle-33@2x.png"
      /><img class="image-3-icon" alt="" src="public/image-3@2x.png" /><img
        class="hng-vn-child8"
        alt=""
        src="public/rectangle-7@2x.png"
      /><img
        class="hng-vn-child9"
        alt=""
        src="public/rectangle-11@2x.png"
      /><img
        class="hng-vn-child10"
        alt=""
        src="public/rectangle-8@2x.png"
      /><img
        class="hng-vn-child11"
        alt=""
        src="public/rectangle-12@2x.png"
      /><img
        class="hng-vn-child12"
        alt=""
        src="public/rectangle-9@2x.png"
      /><img
        class="hng-vn-child13"
        alt=""
        src="public/rectangle-13@2x.png"
      /><img
        class="hng-vn-child14"
        alt=""
        src="public/rectangle-10@2x.png"
      /><img
        class="hng-vn-child15"
        alt=""
        src="public/rectangle-14@2x.png"
      /><img
        class="hng-vn-child16"
        alt=""
        src="public/rectangle-17@2x.png"
      /><img
        class="hng-vn-child17"
        alt=""
        src="public/rectangle-19@2x.png"
      /><img
        class="hng-vn-child18"
        alt=""
        src="public/rectangle-22@2x.png"
      /><img
        class="hng-vn-child19"
        alt=""
        src="public/rectangle-18@2x.png"
      /><img
        class="hng-vn-child20"
        alt=""
        src="public/rectangle-20@2x.png"
      /><img
        class="hng-vn-child21"
        alt=""
        src="public/rectangle-21@2x.png"
      /><img
        class="hng-vn-child22"
        alt=""
        src="public/rectangle-23@2x.png"
      /><img
        class="hng-vn-child23"
        alt=""
        src="public/rectangle-24@2x.png"
      /><img
        class="hng-vn-child24"
        alt=""
        src="public/rectangle-25@2x.png"
      /><img
        class="hng-vn-child25"
        alt=""
        src="public/rectangle-26@2x.png"
      /><img
        class="hng-vn-child26"
        alt=""
        src="public/rectangle-34@2x.png"
      /><img
        class="hng-vn-child27"
        alt=""
        src="public/rectangle-35@2x.png"
      /><img
        class="hng-vn-child28"
        alt=""
        src="public/rectangle-36@2x.png"
      /><img class="hng-vn-child29" alt="" src="public/rectangle-27@2x.png" />
      <div class="c-chng-nhn">Được chứng nhận chính hãng</div>
      <div class="hng-vn-child30"></div>
      <img class="hng-vn-child31" alt="" src="public/rectangle-4@2x.png" />
      <div class="hng-vn-child32"></div>
      <img class="hng-vn-child33" alt="" src="public/rectangle-6@2x.png" />
      <div class="hng-vn-child34"></div>
      <img class="hng-vn-child35" alt="" src="public/rectangle-5@2x.png" />
      <div class="hng-vn-child36"></div>
      <div class="thin-layer-velour-container">
        <p class="thin-layer-velour-cushion">
          <span>THIN LAYER VELOUR CUSHION </span>
        </p>
        <p class="cng-thc-thun-chay-du-nh-l">
          <span
            ><span class="cng-thc-thun"
              >Công thức thuần chay dịu nhẹ làn da và tạo về ngoài tự
              nhiên</span
            ></span
          >
        </p>
        <p class="xem-thm">
          <span><span>Xem thêm&gt;</span></span>
        </p>
      </div>
      <div class="thin-layer-velour1">THIN LAYER VELOUR CUSHION</div>
      <div class="thin-layer-velour1">THIN LAYER VELOUR CUSHION</div>
      <div class="video-blackrouge">
        <p class="thin-layer-velour-cushion"><span>VIDEO</span></p>
        <p class="blackrouge"><span class="cng-thc-thun">@BLACKROUGE</span></p>
      </div>
      <div class="xem-thm1">+ XEM THÊM</div>
      <div class="phong-cch-thi-container">
        <p class="thin-layer-velour-cushion">
          <span class="phong-cch-thi"
            >Phong cách thời thượng tràn ngập sắc màu cuộc sống!</span
          >
        </p>
        <p class="t-nhng-vt-dng-c-bn-hng">
          <span class="cng-thc-thun"
            >Từ những vật dụng cơ bàn hàng ngày đến những bộ cánh sành điệu và
            độc đáo,</span
          >
        </p>
        <p class="hy-tri-nghim-mi-mu-sc-tr">
          <span class="cng-thc-thun"
            >hãy trải nghiệm mọi màu sắc trên thế giới với Black Rouge.</span
          >
        </p>
      </div>
      <img class="image-4-icon" alt="" src="public/image-11@2x.png" />
      <div class="son-mi">Son Môi</div>
      <div class="mt">Mặt</div>
      <div class="mt1">Mắt</div>
      <div class="ph-kin">Phụ kiện</div>
      <div class="hng-vn-child37"></div>
      <div class="best-item-wrapper">
        <div class="best-item">BEST ITEM</div>
      </div>
      <div class="tin-tc-wrapper">
        <div class="best-item" data-scroll-to="tINTCText">TIN TỨC</div>
      </div>
      <div class="danh-mc-ni-container">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">DANH MỤC NỔI BẬT</p></span
        >
      </div>
      <div class="son-kem-black-container12">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Son Kem Black Rouge Airfit Velvet Tint Ver 2 Mood Filter</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr"><b> 238.400₫ </b></p></span
        >
      </div>
      <div class="son-kem-black-container14">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Son kem Black Rouge Double Layer Over Velvet</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr"><b> 254.400₫ </b></p></span
        >
      </div>
      <div class="son-kem-black-container16">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Son kem Black Rouge Air Fit Velvet Tint Ver 9 Acoustic Mood</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr">
            <b>238.400₫</b><span class="span24"> </span></p
        ></span>
      </div>
      <div class="tin-tc8" id="tINTCText1">TIN TỨC</div>
      <div class="sn-phm7" id="sNPHMText">SẢN PHẨM</div>
      <div class="hng-mi3">HÀNG MỚI</div>
      <div class="gii-thiu7" id="gIITHIUText">GIỚI THIỆU</div>
      <div class="trang-ch8">TRANG CHỦ</div>
      <div class="son-kem-black-container18">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Son kem Black Rouge Airfit Velvet Tint Ver 1 THE RED</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr"><b> 238.400₫ </b></p></span
        >
      </div>
      <div class="son-kem-black-container20">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Son kem Black Rouge Airfit Velvet Tint Ver 6 BLUEMING
              GARDEN</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr"><b>238.400₫</b></p></span
        >
      </div>
      <div class="son-bng-black-container3">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Son bóng Black Rouge Half N Half Water Glow Season 2</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr"><b> 238.400₫ </b></p></span
        >
      </div>
      <div class="black-rouge-power-container2">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Black Rouge Power Proof Pen Liner P01</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr"><b> 254.400₫ </b></p></span
        >
      </div>
      <div class="son-kem-black-container22">
        <span class="danh-mc-ni-container1"
          ><p class="thin-layer-velour-cushion">
            <span class="phong-cch-thi"
              >Son kem Black Rouge Airfit Velvet Tint Ver 7 VELVET CROWN</span
            >
          </p>
          <p class="hy-tri-nghim-mi-mu-sc-tr"><b> 238.400₫ </b></p></span
        >
      </div>
      <img class="hng-vn-child38" alt="" src="public/vector-3.svg" />
      <div class="dng-thng-hiu-container">
        <p class="dng-thng-hiu-thn-k-ma">
          <span class="dng-thng-hiu"
            >Dòng thương hiệu “thần kì” mùa lễ hội cuối năm 2018 nhất định
            không...</span
          >
        </p>
        <p class="khng-kh-ging-sinh-ngy-cng">
          <span class="phong-cch-thi"
            >Không khí Giáng sinh ngày càng lan rộng khiến chị em ta khá là nô
            nức, bạn đã có cách nào tỏa sáng cho mùa lễ hội chưa...
          </span>
        </p>
      </div>
      <div class="dng-thng-hiu-container1">
        <p class="dng-thng-hiu-thn-k-ma">
          <span class="dng-thng-hiu"
            >Dòng thương hiệu “thần kì” mùa lễ hội cuối năm 2018 nhất định
            không...</span
          >
        </p>
        <p class="khng-kh-ging-sinh-ngy-cng">
          <span class="phong-cch-thi"
            >Không khí Giáng sinh ngày càng lan rộng khiến chị em ta khá là nô
            nức, bạn đã có cách nào tỏa sáng cho mùa lễ hội chưa...
          </span>
        </p>
      </div>
      <div class="dng-thng-hiu-container2">
        <p class="dng-thng-hiu-thn-k-ma">
          <span class="dng-thng-hiu"
            >Dòng thương hiệu “thần kì” mùa lễ hội cuối năm 2018 nhất định
            không...</span
          >
        </p>
        <p class="khng-kh-ging-sinh-ngy-cng">
          <span class="phong-cch-thi"
            >Không khí Giáng sinh ngày càng lan rộng khiến chị em ta khá là nô
            nức, bạn đã có cách nào tỏa sáng cho mùa lễ hội chưa...
          </span>
        </p>
      </div>
      <div class="black-rouge-ra-container">
        <p class="dng-thng-hiu-thn-k-ma">
          <span class="dng-thng-hiu"
            >Black Rouge ra mắt dòng son “must-have” mà Gen Z ai cũng...</span
          >
        </p>
        <p class="khng-kh-ging-sinh-ngy-cng">
          <span class="phong-cch-thi"
            >Đánh trúng “tim đen” của thế hệ Gen Z thương hiệu mỹ phẩm Black
            Rouge cho trình làng dòng son mới mà mọi cô gái đều...</span
          >
        </p>
      </div>
      <div class="black-rouge-lun-container2">
        <p class="thin-layer-velour-cushion">
          Black Rouge luôn tôn trọng mọi cá tính và trải nghiệm của từng cá
          nhân. Vì mỗi bản thể là một màu sắc duy nhất trên vũ trụ này, bạn sẽ
          luôn tỏa sáng theo cách của riêng mình.
        </p>
      </div>
      <img class="image-10-icon2" alt="" src="public/image-10@2x.png" />
      <div class="hng-vn-child39"></div>
      <div class="h-thng-phn3">Hệ thống phân phối</div>
      <img class="vector-icon6" alt="" src="public/vector4.svg" /><img
        class="local-grocery-store2"
        alt=""
        src="public/local-grocery-store2.svg"
        id="localGroceryStore"
      />
      <div class="chnh-sch3">Chính sách</div>
      <div class="lin-h-vi3">Liên hệ với chúng tôi</div>
      <img class="menu-icon" alt="" src="public/menu.svg" />
    </div>

    <!-- <script>
      var tINTCText1 = document.getElementById("tINTCText1");
      if (tINTCText1) {
        tINTCText1.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='tINTCText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var sNPHMText = document.getElementById("sNPHMText");
      if (sNPHMText) {
        sNPHMText.addEventListener("click", function (e) {
          window.location.href = "./nam.html";
        });
      }
      
      var gIITHIUText = document.getElementById("gIITHIUText");
      if (gIITHIUText) {
        gIITHIUText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangleImage']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var localGroceryStore = document.getElementById("localGroceryStore");
      if (localGroceryStore) {
        localGroceryStore.addEventListener("click", function (e) {
          window.location.href = "./F$235:110$";
        });
      }
      </script> -->
  </body>
</html>
