<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./nam-l.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial Rounded MT Bold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="nam-l">
      <div class="nam-l1">
        <img class="nam-l-child" alt="" src="public/frame-5.svg" />
        <div class="nam-l-item"></div>
        <div class="nam-l-inner"></div>
        <div class="trang-ch">Trang chủ / Tất cả sản phẩm</div>
        <div class="nam-l-child1"></div>
        <div class="tin-tc">TIN TỨC</div>
        <div class="sn-phm" id="sNPHMText">SẢN PHẨM</div>
        <div class="hng-mi">HÀNG MỚI</div>
        <div class="gii-thiu" id="gIITHIUText">GIỚI THIỆU</div>
        <div class="trang-ch1" id="tRANGCHText">TRANG CHỦ</div>
        <div class="nam-l-child2"></div>
        <div class="v-black-rouge">Về Black Rouge</div>
        <div class="trang-ch-gii-container">
          <ul class="trang-ch-gii-thiu-sn-phm">
            <li class="khuyn-mi">Trang chủ</li>
            <li class="khuyn-mi">Giới thiệu</li>
            <li class="khuyn-mi">Sản phẩm</li>
            <li class="khuyn-mi">Khuyến mãi</li>
            <li class="khuyn-mi">Tin tức</li>
            <li>Liên hệ</li>
          </ul>
        </div>
        <div class="chnh-sch-bo-container">
          <ul class="trang-ch-gii-thiu-sn-phm">
            <li class="khuyn-mi">Chính sách bảo mật</li>
            <li class="khuyn-mi">Chính sách vận chuyển</li>
            <li class="khuyn-mi">Chính sách đổi trả</li>
            <li>Quy định sử dụng</li>
          </ul>
        </div>
        <div class="a-ch-tng-container">
          <ul class="trang-ch-gii-thiu-sn-phm">
            <li class="khuyn-mi">
              Địa chỉ: Tầng 10, 194 Golden Building, 473 Điện Biên Phủ, Phường
              25, Bình Thạnh, Hồ Chí Minh
            </li>
            <li class="khuyn-mi">
              Email: cskh@dmnc.vn or blackrougevn@gmail.com
            </li>
            <li>Điện thoại: 0909 312 350</li>
          </ul>
        </div>
        <div class="black-rouge-lun-container">
          <p class="black-rouge-lun">
            Black Rouge luôn tôn trọng mọi cá tính và trải nghiệm của từng cá
            nhân. Vì mỗi bản thể là một màu sắc duy nhất trên vũ trụ này, bạn sẽ
            luôn tỏa sáng theo cách của riêng mình.
          </p>
        </div>
        <img class="image-10-icon" alt="" src="public/image-10@2x.png" />
        <div class="nam-l-child3"></div>
        <div class="h-thng-phn">Hệ thống phân phối</div>
        <div class="chnh-sch">Chính sách</div>
        <div class="lin-h-vi">Liên hệ với chúng tôi</div>
        <div class="nam-l-child4"></div>
        <img
          class="rectangle-icon"
          alt=""
          src="public/rectangle-37@2x.png"
        /><img class="nam-l-child5" alt="" src="public/rectangle-154@2x.png" />
        <div class="son-black-rouge-container">
          <p class="p">
            <span class="son-black-rouge">Son Black Rouge A38 </span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="div">145.000</div>
        <div class="nam-l-child6"></div>
        <div class="div1">2</div>
        <div class="div2">290.000</div>
        <div class="nam-l-child7"></div>
        <div class="div3">145.000</div>
        <div class="nam-l-child8"></div>
        <div class="div4"><p class="p">1</p></div>
        <div class="div5">145.000</div>
        <b class="x">x</b>
        <div class="nam-l-child9"></div>
        <div class="son-black-rouge-container1">
          <p class="p">
            <span class="son-black-rouge">Son black rouge Ver 6</span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="son-black-rouge-container2">
          <p class="p">
            <span class="son-black-rouge">Son Black Rouge a12</span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="div6">125.000</div>
        <div class="nam-l-child10"></div>
        <div class="div7">2</div>
        <div class="div8">250.000</div>
        <b class="x1">x</b>
        <div class="nam-l-child11"></div>
        <div class="son-black-rouge-container3">
          <p class="p">
            <span class="son-black-rouge">Son Black Rouge 365</span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="div9">155.000</div>
        <div class="nam-l-child12"></div>
        <div class="div10">2</div>
        <div class="div11">310.000</div>
        <b class="x2">x</b>
        <div class="nam-l-child13"></div>
        <img class="nam-l-child14" alt="" src="public/rectangle-140@2x.png" />
        <div class="son-black-rouge-container4">
          <p class="p">
            <span class="son-black-rouge">Son Black Rouge A51</span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="div12">125.000</div>
        <div class="nam-l-child15"></div>
        <div class="div13">4</div>
        <div class="div14">500.000</div>
        <b class="x3">x</b>
        <div class="nam-l-child16"></div>
        <img class="nam-l-child17" alt="" src="public/rectangle-144@2x.png" />
        <div class="son-black-rouge-container5">
          <p class="p">
            <span class="son-black-rouge">Son Black Rouge Ver 5</span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="div15">125.000</div>
        <div class="nam-l-child18"></div>
        <div class="div16">1</div>
        <div class="div17">125.000</div>
        <b class="x4">x</b>
        <div class="div18">250.000</div>
        <b class="x5">x</b>
        <div class="nam-l-child19"></div>
        <div class="son-black-rouge-container6">
          <p class="p">
            <span class="son-black-rouge">Son Black Rouge 365</span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="div19">160.000</div>
        <div class="nam-l-child20"></div>
        <div class="div20">1</div>
        <div class="div21">160.000</div>
        <b class="x6">x</b>
        <div class="nam-l-child21"></div>
        <img class="nam-l-child22" alt="" src="public/rectangle-152@2x.png" />
        <div class="son-black-rouge-container7">
          <p class="p">
            <span class="son-black-rouge">Son Black Rouge A41</span>
          </p>
          <p class="black-rouge">
            <span class="black-rouge1">Black Rouge</span>
          </p>
        </div>
        <div class="div22">155.000</div>
        <div class="nam-l-child23"></div>
        <div class="nam-l-child23"></div>
        <div class="div23">2</div>
        <div class="div24">310.000</div>
        <b class="x7">x</b
        ><img
          class="nam-l-child25"
          alt=""
          src="public/rectangle-38@2x.png"
        /><img
          class="nam-l-child26"
          alt=""
          src="public/rectangle-39@2x.png"
        /><img
          class="nam-l-child27"
          alt=""
          src="public/rectangle-41@2x.png"
        /><b class="x8">x</b>
      </div>
    </div>

    <!-- <script>
      var sNPHMText = document.getElementById("sNPHMText");
      if (sNPHMText) {
        sNPHMText.addEventListener("click", function (e) {
          window.location.href = "./nam.html";
        });
      }
      
      var gIITHIUText = document.getElementById("gIITHIUText");
      if (gIITHIUText) {
        gIITHIUText.addEventListener("click", function (e) {
          window.location.href = "./hng-vn.html";
        });
      }
      
      var tRANGCHText = document.getElementById("tRANGCHText");
      if (tRANGCHText) {
        tRANGCHText.addEventListener("click", function (e) {
          window.location.href = "./hng-vn.html";
        });
      }
      </script> -->
  </body>
</html>
