<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./nam.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial Rounded MT Bold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="nam">
      <img class="nam-child" alt="" src="public/frame-2.svg" />
      <div class="image-6-wrapper">
        <img class="image-6-icon" alt="" src="public/image-6@2x.png" />
      </div>
      <div class="s-i-lp">
        Sự đối lập của Black (đen) và Rouge (đỏ) cùng xuất hiện trong cùng một
        sản phẩm (BLACK ROUGE) sẽ giúp bạn thỏa sức sáng tạo, khẳng định cá tính
        cũng như gu thẩm mỹ của mình.
      </div>
      <div class="rectangle-group">
        <img
          class="component-child"
          alt=""
          src="public/rectangle-51@2x.png"
        /><img class="image-12-icon" alt="" src="public/image-12@2x.png" />
      </div>
      <img
        class="nam-item"
        alt=""
        src="public/rectangle-52@2x.png"
        id="rectangleImage1"
      /><img class="nam-inner" alt="" src="public/rectangle-53@2x.png" /><img
        class="nam-child1"
        alt=""
        src="public/rectangle-54@2x.png"
      /><img class="nam-child2" alt="" src="public/rectangle-55@2x.png" /><img
        class="nam-child3"
        alt=""
        src="public/rectangle-56@2x.png"
      /><img class="nam-child4" alt="" src="public/rectangle-57@2x.png" /><img
        class="nam-child5"
        alt=""
        src="public/rectangle-58@2x.png"
      /><img class="nam-child6" alt="" src="public/rectangle-59@2x.png" /><img
        class="nam-child7"
        alt=""
        src="public/rectangle-581@2x.png"
      /><img class="nam-child8" alt="" src="public/rectangle-60@2x.png" /><img
        class="nam-child9"
        alt=""
        src="public/rectangle-61@2x.png"
      /><img class="nam-child10" alt="" src="public/rectangle-62@2x.png" /><img
        class="nam-child11"
        alt=""
        src="public/rectangle-63@2x.png"
      /><img class="nam-child12" alt="" src="public/rectangle-64@2x.png" /><img
        class="nam-child13"
        alt=""
        src="public/rectangle-65@2x.png"
      />
      <div class="phn-mt-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <a
            class="phn-mt-black-rouge-triple-la1"
            href="https://blackrouge.vn/phan-mat-black-rouge-triple-layer-eye-palette"
            target="_blank"
            ><span class="phn-mt-black"
              >Phấn mắt Black Rouge Triple Layer Eye Palette</span
            ></a
          >
        </p>
        <p class="for-inquiries-about">20% 352.000₫ 440.000₫</p>
      </div>
      <img class="nam-child14" alt="" src="public/rectangle-66@2x.png" /><img
        class="nam-child15"
        alt=""
        src="public/rectangle-67@2x.png"
      /><img class="nam-child16" alt="" src="public/rectangle-68@2x.png" /><img
        class="nam-child17"
        alt=""
        src="public/rectangle-69@2x.png"
      /><img class="nam-child18" alt="" src="public/rectangle-70@2x.png" /><img
        class="nam-child19"
        alt=""
        src="public/rectangle-71@2x.png"
      /><img class="nam-child20" alt="" src="public/rectangle-72@2x.png" /><img
        class="nam-child21"
        alt=""
        src="public/rectangle-73@2x.png"
      /><img class="nam-child22" alt="" src="public/rectangle-74@2x.png" /><img
        class="nam-child22"
        alt=""
        src="public/rectangle-88@2x.png"
      /><img class="nam-child24" alt="" src="public/rectangle-75@2x.png" /><img
        class="nam-child25"
        alt=""
        src="public/rectangle-76@2x.png"
      /><img class="nam-child26" alt="" src="public/rectangle-77@2x.png" /><img
        class="nam-child27"
        alt=""
        src="public/rectangle-78@2x.png"
      /><img class="nam-child28" alt="" src="public/rectangle-79@2x.png" /><img
        class="nam-child29"
        alt=""
        src="public/rectangle-80@2x.png"
      /><img class="nam-child30" alt="" src="public/rectangle-81@2x.png" /><img
        class="nam-child31"
        alt=""
        src="public/rectangle-82@2x.png"
      /><img class="nam-child32" alt="" src="public/rectangle-83.svg" /><img
        class="nam-child33"
        alt=""
        src="public/rectangle-87@2x.png"
      /><img class="nam-child34" alt="" src="public/rectangle-84@2x.png" /><img
        class="nam-child35"
        alt=""
        src="public/rectangle-85@2x.png"
      /><img class="nam-child36" alt="" src="public/rectangle-86@2x.png" />
      <div class="nam-child37"></div>
      <div class="nam-child38"></div>
      <img class="image-7-icon" alt="" src="public/image-7@2x.png" />
      <div class="black-rouge-lun1">
        Black Rouge luôn tôn trọng mọi cá tính và trải nghiệm của từng cá nhân.
        Vì mỗi bản thể là một màu sắc duy nhất trên vũ trụ này, bạn sẽ luôn tỏa
        sáng theo cách của riêng mình.
      </div>
      <img class="nam-child39" alt="" /><img
        class="image-8-icon"
        alt=""
        src="public/image-8@2x.png"
      />
      <div class="nam-child40"></div>
      <div class="h-thng-phn1">Hệ thống phân phối</div>
      <div class="hp-gi-qu-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span>Hộp Gói Quà Black Rouge</span>
        </p>
        <p class="for-inquiries-about"><b>30.000₫</b></p>
      </div>
      <div class="phn-nc-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span>Phấn nước Black Rouge Thin Layer Velour Cushion</span></span
          >
        </p>
        <p class="p3">
          <span><span>20% </span></span><b class="b">592.000₫ </b>
        </p>
      </div>
      <div class="black-rouge-pearlvely-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Black Rouge Pearlvely I Glitter Triangle</span></span>
        </p>
        <p class="p4">
          <span><span>20% </span></span><b class="b">254.400₫ </b>
        </p>
      </div>
      <div class="cng-ty-tnhh-container">
        <p class="phn-mt-black-rouge-triple-la">
          Công ty TNHH DM&C - MST: 03144724148 do sở Kế Hoạch và Đầu Tư Hồ Chí
          Minh cấp ngày 08/11/2017
        </p>
        <p class="phn-mt-black-rouge-triple-la">
          Địa chỉ: Tầng 10, 194 Golden Building, 473 Điện Biên Phủ, Phường 25,
          Bình Thạnh, Hồ Chí Minh
        </p>
        <p class="phn-mt-black-rouge-triple-la">
          Quý đối tác muốn liên hệ hợp tác kinh doanh cùng Black Rouge xin vui
          lòng liên hệ: nguyenlan@dmnc.vn
        </p>
        <p class="for-inquiries-about">
          For inquiries about our overseas partnership please send to:
          overseassales.dmnc@gmail.com
        </p>
      </div>
      <div class="trang-ch-gii-container1">
        <ul class="trang-ch-gii-thiu-sn-phm1">
          <li class="trang-ch3">Trang chủ</li>
          <li class="trang-ch3">Giới thiệu</li>
          <li class="trang-ch3">Sản phẩm</li>
          <li class="trang-ch3">Khuyến mãi</li>
          <li class="trang-ch3">Tin tức</li>
          <li>Liên hệ</li>
        </ul>
      </div>
      <div class="rectangle-container">
        <img
          class="frame-child9"
          alt=""
          src="public/rectangle-521@2x.png"
        /><img class="image-9-icon" alt="" src="public/image-9@2x.png" /><img
          class="frame-child10"
          alt=""
          src="public/rectangle-582@2x.png"
        />
      </div>
      <div class="chnh-sch-bo-container1">
        <ul class="trang-ch-gii-thiu-sn-phm1">
          <li class="trang-ch3">Chính sách bảo mật</li>
          <li class="trang-ch3">Chính sách vận chuyển</li>
          <li class="trang-ch3">Chính sách đổi trả</li>
          <li>Quy định sử dụng</li>
        </ul>
      </div>
      <div class="black-rouge-power-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Black Rouge Power Proof Stick Shadow</span></span>
        </p>
        <p class="p4">
          <span><span>20%</span></span
          ><b class="b"> 238.400₫ </b>
        </p>
      </div>
      <b class="chnh-sch1">Chính sách</b
      ><b class="v-black-rouge1">Về Black Rouge</b
      ><b class="lin-h-vi1">Liên hệ với chúng tôi</b
      ><b class="mascara-chn-my-container"
        ><p class="phn-mt-black-rouge-triple-la">
          <span>Mascara chân mày Black Rouge Colorizing Master Browcara</span>
        </p>
        <p class="for-inquiries-about">
          <span class="span">20%</span><span> 240.000₫</span>
        </p></b
      >
      <div class="a-ch-tng-container1">
        <ul class="trang-ch-gii-thiu-sn-phm1">
          <li class="trang-ch3">
            Địa chỉ: Tầng 10, 194 Golden Building, 473 Điện Biên Phủ, Phường 25,
            Bình Thạnh, Hồ Chí Minh
          </li>
          <li class="trang-ch3">
            Email: cskh@dmnc.vn or blackrougevn@gmail.com
          </li>
          <li>Điện thoại: 0909 312 350</li>
        </ul>
      </div>
      <div class="che-khuyt-im-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Che khuyết điểm Black Rouge Zoom In HD Cover Fit Concealer</span
            ></span
          >
        </p>
        <p class="p7">
          <span><span>20% </span></span><b class="b">224.000₫ </b>
        </p>
      </div>
      <div class="bn-quyn-thuc">
        © Bản quyền thuộc về Legal Entity | DM&C CO., LTD | Cung cấp bởi Sapo
      </div>
      <div class="black-rouge-real-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span>Black Rouge Real Strawberry Milk Toner</span>
        </p>
        <p class="for-inquiries-about"><b>600.000₫</b></p>
      </div>
      <div class="son-kem-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Son Kem Black Rouge Cream Matt Rouge 3</span></span>
        </p>
        <p class="p4">
          <span><span>50%</span></span
          ><b class="b"> 149.000₫</b>
        </p>
      </div>
      <div class="ch-k-my-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Chì kẻ mày Black Rouge Half-Hard Drawing Master Eyebrow</span
            ></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span1">50%</span><span> </span></span
          ><span><b class="b5">120.000₫</b></span>
        </p>
      </div>
      <div class="phn-nc-black-container1">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span>Phấn nước Black Rouge Peach Cover Velvet Cushion</span></span
          >
        </p>
        <p class="p7">
          <span><span>20%</span></span
          ><b class="b5"><span> </span><span class="span2">512.000₫</span></b>
        </p>
      </div>
      <div class="tt-c-sn">TẤT CẢ SẢN PHẨM</div>
      <div class="full-set-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span>FULL SET Black Rouge Double Layer Over Velvet</span></span
          >
        </p>
        <p class="p12">
          <span><span>20%</span></span
          ><b class="b5"><span> </span><span class="span2">1.526.400₫</span></b>
        </p>
      </div>
      <div class="black-rouge-power-container1">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Black Rouge Power Proof Pen Liner P01</span></span>
        </p>
        <p class="p4">
          <span><span>20% </span></span><b class="b">254.400₫</b>
        </p>
      </div>
      <div class="son-thi-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span>Son thỏi Black Rouge Wearable Velvet Lipstick</span></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">270.400₫</b></span>
        </p>
      </div>
      <div class="son-kem-black-container1">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Son kem Black Rouge Double Layer Over Velvet</span></span>
        </p>
        <p class="p4">
          <span><span>20%</span></span
          ><b class="b5"><span> </span><span class="span2">254.400₫</span></b>
        </p>
      </div>
      <div class="son-kem-black-container2">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Son kem Black Rouge Air Fit Velvet Tint Ver 9 Acoustic Mood</span
            ></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="phn-mt-black-container1">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span>Phấn mắt Black Rouge Triple Layer Eye Palette</span></span
          >
        </p>
        <p class="p4">
          <span><span>20%</span></span
          ><b class="b5"><span> </span><span class="span2">352.000₫</span></b>
        </p>
      </div>
      <div class="son-kem-black-container3">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Son kem Black Rouge Airfit Velvet Tint Ver 1 THE RED</span
            ></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="black-rouge-cg-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Black Rouge CG Perfect Lash Cara</span></span>
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">288.000₫</b></span>
        </p>
      </div>
      <div class="phn-nh-mt-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span>Phấn nhũ mắt Black Rouge Drop Eye Stick Glitz</span></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span1">20%</span><span> </span></span
          ><span><b class="b5">254.400₫</b></span>
        </p>
      </div>
      <div class="k-mt-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Kẻ mắt Black Rouge Power Proof Pen Liner</span></span>
        </p>
        <p class="p4">
          <span><span>20%</span></span
          ><b class="b"> 288.000₫</b>
        </p>
      </div>
      <div class="gel-mt-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Gel mắt Black Rouge New Pearlvely I Glitter</span></span>
        </p>
        <p class="for-inquiries-about">
          <span><span class="span1">20%</span><span> </span></span
          ><span><b class="b5">254.400₫</b></span>
        </p>
      </div>
      <div class="phn-to-khi-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Phấn tạo khối Black Rouge Up & Down Triple Contouring</span
            ></span
          >
        </p>
        <p class="p4">
          <span><span>20% </span></span><b class="b">352.000₫</b>
        </p>
      </div>
      <div class="bng-phn-mt-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Bảng phấn mắt Black Rouge Colordation Mood Palette</span
            ></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">544.000₫</b></span>
        </p>
      </div>
      <div class="kem-nng-tone-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Kem nâng tone Black Rouge Flower Tone Up</span></span>
        </p>
        <p class="p12">
          <span><span>20%</span></span
          ><b class="b"> 288.000₫</b>
        </p>
      </div>
      <div class="son-kem-black-container4">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Son Kem Black Rouge Airfit Velvet Tint Ver 2 Mood Filter</span
            ></span
          >
        </p>
        <p class="p7">
          <span><span>20%</span></span
          ><b class="b"> 238.400₫</b>
        </p>
      </div>
      <div class="kem-nn-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Kem nền Black Rouge Rice Skinwear Foundation</span></span>
        </p>
        <p class="p4">
          <span><span>20%</span></span
          ><b class="b"> 432.000₫</b>
        </p>
      </div>
      <div class="son-kem-black-container5">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Son kem Black Rouge Airfit Velvet Tint Ver 3 Dry Fruit</span
            ></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="sp-ty-trang-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span>Sáp tẩy trang Black Rouge Rice Skinbare Cleansing Balm</span>
        </p>
        <p class="for-inquiries-about"><b>20% 352.000₫</b></p>
      </div>
      <div class="son-kem-black-container6">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span>Son kem Black Rouge Airfit Velvet Tint Ver 5 BAM</span></span
          >
        </p>
        <p class="p4">
          <span><span>20%</span></span
          ><b class="b"> 238.400₫</b>
        </p>
      </div>
      <div class="son-kem-black-container7">
        <p class="phn-mt-black-rouge-triple-la">
          <span>Son kem Black Rouge Leez Velvet Tint</span>
        </p>
        <p class="for-inquiries-about"><b>20% 254.400₫</b></p>
      </div>
      <div class="son-kem-black-container8">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Son kem Black Rouge Airfit Velvet Tint Ver 6 BLUEMING
              GARDEN</span
            ></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="son-tint-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Son tint Black Rouge Drip Hot Water Tint</span></span>
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="son-tint-black-container1">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Son tint Black Rouge Mara Hot Water Tint</span></span>
        </p>
        <p class="for-inquiries-about">
          <span><span class="span1">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="son-kem-black-container9">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Son kem Black Rouge Airfit Velvet Tint Ver 8 THE CRYSTAL</span
            ></span
          >
        </p>
        <p class="p4">
          <span><span>20%</span></span
          ><b class="b"> 238.400₫</b>
        </p>
      </div>
      <div class="son-kem-black-container10">
        <p class="phn-mt-black-rouge-triple-la">
          <span
            ><span
              >Son kem Black Rouge Airfit Velvet Tint Ver 7 VELVET CROWN</span
            ></span
          >
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="son-bng-black-container">
        <p class="phn-mt-black-rouge-triple-la">
          <span>Son bóng Black Rouge Half N Half Water Glow Season 2</span>
        </p>
        <p class="for-inquiries-about">
          <b><span class="span4">20%</span><span> 238.400₫</span></b>
        </p>
      </div>
      <div class="son-bng-black-container1">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Son bóng Black Rouge Half N Half Water Glow</span></span>
        </p>
        <p class="p4">
          <span><span>50% </span></span><b class="b">149.000₫</b>
        </p>
      </div>
      <div class="son-kem-black-container11">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Son kem Black Rouge Half N Half Water Velvet</span></span>
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">50%</span><span> </span></span
          ><span><b class="b5">149.000₫</b></span>
        </p>
      </div>
      <div class="son-bng-black-container2">
        <p class="phn-mt-black-rouge-triple-la">
          <span><span>Son bóng Black Rouge Half N Half Tangle Glow</span></span>
        </p>
        <p class="for-inquiries-about">
          <span><span class="span4">20%</span><span> </span></span
          ><span><b class="b5">238.400₫</b></span>
        </p>
      </div>
      <div class="nam-child41"></div>
      <div class="nam-child42"></div>
      <div class="tin-tc3">TIN TỨC</div>
      <div class="sn-phm3">SẢN PHẨM</div>
      <div class="hng-mi1">HÀNG MỚI</div>
      <div class="gii-thiu3" id="gIITHIUText">GIỚI THIỆU</div>
      <div class="trang-ch4" id="tRANGCHText">TRANG CHỦ</div>
    </div>

    <!-- <script>
      var rectangleImage1 = document.getElementById("rectangleImage1");
      if (rectangleImage1) {
        rectangleImage1.addEventListener("click", function (e) {
          window.location.href = "./tho-l.html";
        });
      }
      
      var gIITHIUText = document.getElementById("gIITHIUText");
      if (gIITHIUText) {
        gIITHIUText.addEventListener("click", function (e) {
          window.location.href = "./hng-vn.html";
        });
      }
      
      var tRANGCHText = document.getElementById("tRANGCHText");
      if (tRANGCHText) {
        tRANGCHText.addEventListener("click", function (e) {
          window.location.href = "./hng-vn.html";
        });
      }
      </script> -->
  </body>
</html>
