<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./tho-l.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial Rounded MT Bold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="tho-l">
      <div class="tho-l-child"></div>
      <div class="tin-tc4">TIN TỨC</div>
      <div class="sn-phm4">SẢN PHẨM</div>
      <div class="hng-mi2">HÀNG MỚI</div>
      <div class="gii-thiu4">GIỚI THIỆU</div>
      <div class="trang-ch5" id="tRANGCHText">TRANG CHỦ</div>
      <div class="thng-tin-sn-container">
        <p class="thng-tin-sn-phm">
          <span class="thng-tin-sn">Thông tin sản phẩm</span>
        </p>
        <p class="thng-tin-sn-phm">
          <span class="m-u-xun-2023-nh-black-ro1"
            ><span class="m-u-xun"
              >Mở đầu xuân 2023, nhà Black Rouge mang đến cho các bae yêu làm
              đẹp một sản phẩm mới toanh. Cushion thuần chay đầu tiên </span
            ><b class="m-u-xun">THIN LAYER VELOUR CUSHION</b
            ><span>
              đến từ nhà Black Rouge. Siêu phẩm cushion nhà Black Rouge mang đến
              cho bae một làn da đẹp, trắng sáng rạng rỡ. Kết cấu cushion siêu
              mịn, siêu mỏng tạo cảm giác nhẹ tênh trên da , làm ‘’tan biến’’
              mọi khuyết điểm.</span
            ></span
          >
        </p>
      </div>
      <img class="tho-l-item" alt="" src="public/rectangle-46@2x.png" /><img
        class="tho-l-inner"
        alt=""
        src="public/rectangle-46@2x.png"
      /><img class="tho-l-child1" alt="" src="public/rectangle-46@2x.png" /><img
        class="tho-l-child2"
        alt=""
        src="public/rectangle-50@2x.png"
      /><img class="tho-l-child3" alt="" src="public/rectangle-45@2x.png" />
      <div class="thit-k-v-container">
        <p class="thit-k"><span class="thng-tin-sn">THIẾT KẾ</span></p>
        <ul class="v-ngoi-mang-tng-mu-hng-hi">
          <li class="logo-black-rouge-c-in-chm">
            <span
              >Vỏ ngoài mang tông màu hồng hiện đại, chắc chắn, được phủ mờ tạo
              cảm giác sang trọng và thời thượng</span
            >
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span>Logo Black Rouge được in chìm một cách tinh tế</span>
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span
              >Bông phấn mềm mại linh hoạt chạm vào da bạn như nam châm</span
            >
          </li>
          <li>
            <span
              >Bao bì phân hủy sinh học, sử dụng vật liệu đóng gói được FSC
              chứng nhận nhằm bảo vệ môi trường</span
            >
          </li>
        </ul>
      </div>
      <div class="black-rouge-phn-container">
        <p class="black-rouge16">
          <span><span>BLACK ROUGE</span></span>
        </p>
        <p class="phn-nc-black-rouge-thin-lay1">
          <span
            ><span class="phn-nc-black"
              >Phấn nước Black Rouge Thin Layer Velour Cushion</span
            ></span
          >
        </p>
        <p class="mu2brtlvcvc01"><i class="phn-nc-black">MU2BRTLVCVC01</i></p>
      </div>
      <div class="tho-l-child4"></div>
      <img class="vector-icon" alt="" src="public/vector-4.svg" />
      <div class="div25">-</div>
      <div class="div26">1</div>
      <div class="div27">+</div>
      <img class="tho-l-child5" alt="" src="public/rectangle-881.svg" />
      <div class="thm-vo-gi-container" id="tHMVOGI">
        <b>THÊM VÀO GIỎ</b><span class="span21"> </span>
      </div>
      <div class="tho-l-child6"></div>
      <b class="mua-ngay">MUA NGAY</b
      ><img class="tho-l-child7" alt="" src="public/rectangle-90@2x.png" /><img
        class="tho-l-child8"
        alt=""
        src="public/rectangle-91@2x.png"
      />
      <div class="thnh-phn-chit-container">
        <p class="thnh-phn"><span class="thng-tin-sn">THÀNH PHẦN</span></p>
        <ul class="v-ngoi-mang-tng-mu-hng-hi">
          <li class="logo-black-rouge-c-in-chm">
            <span>Chiết xuất lá lô hội: Cấp nước, dưỡng ẩm và làm dịu da</span>
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span
              >Phức hợp quả mọng: Chất chống oxi hóa hiệu quả trong việc tạo cấu
              trúc da săn chắc và thu nhỏ lỗ chân lông</span
            >
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span
              >Phức hợp lợi khuẩn: tăng cường khả năng miễn dịch cho làn da với
              các thành phần cham sóc, nuôi dưỡng da</span
            >
          </li>
        </ul>
        <p class="thnh-phn">
          <span class="thng-tin-sn">CHỨNG NHẬN CỦA EVE VEGAN</span>
        </p>
        <ul class="v-ngoi-mang-tng-mu-hng-hi">
          <li class="logo-black-rouge-c-in-chm">
            <span
              >Chứng nhận không gây dị ứng: an toàn cho làn da nhạy cảm</span
            >
          </li>
          <li>
            <span
              >Thử nghiệm chống nắng vật lý: lớp bảo vệ vật lý mỏng phản xạ và
              ngăn chặn sự hấp thu tia UV, phù hợp cho da nhạy cảm, không gây
              kích ứng.</span
            >
          </li>
        </ul>
      </div>
      <div class="chc-nng-sn-container">
        <p class="thng-tin-sn-phm">
          <span class="thng-tin-sn">CHỨC NĂNG</span>
        </p>
        <ul class="v-ngoi-mang-tng-mu-hng-hi">
          <li class="logo-black-rouge-c-in-chm">
            <span
              >Sản phẩm làm đẹp với 3 chức năng: chống tia cực tím (SPF40 PA++),
              làm sáng da và giảm vết nhăn</span
            >
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span>Kết cấu mỏng mịn tạo cảm giác nhẹ tênh khi sử dụng</span>
          </li>
          <li><span>Tự dộng điều chỉnh phù hợp với tông da của bạn</span></li>
        </ul>
      </div>
      <img class="tho-l-child9" alt="" src="public/rectangle-95@2x.png" />
      <div class="cm-gic-khi-container">
        <p class="cm-gic-khi-s-dng">
          <span class="thng-tin-sn">CẢM GIÁC KHI SỬ DỤNG</span>
        </p>
        <ul class="v-ngoi-mang-tng-mu-hng-hi">
          <li class="logo-black-rouge-c-in-chm">
            <b class="m-u-xun">Power Fit</b
            ><span>: Bám chặt vào da và cố định không tì vết</span>
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <b class="m-u-xun">Lightwear</b
            ><span class="m-u-xun"
              >: Mỏng nhẹ bám chặt vào da, không gây cảm giác khó chịu khi sử
              dụng</span
            >
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <b class="m-u-xun">Velvet Finish</b
            ><span class="m-u-xun"
              >: Ứng dụng Velvet Matte Finish Gel giúp da mịn như nhung, che phủ
              nếp nhăn, lỗ chân lông và những chỗ da không đều màu</span
            >
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <b class="m-u-xun">Long lasting</b
            ><span class="m-u-xun"
              >: Độ bền màu cao, hiệu quả lâu dài, không lem trôi</span
            >
          </li>
        </ul>
        <p class="cm-gic-khi-s-dng">
          <span class="thng-tin-sn">TÔNG MÀU</span>
        </p>
        <p class="cm-gic-khi-s-dng">
          <span
            >Với 3 tông màu chính không phân biệt tông ấm hay lạnh, hoàn toàn
            phù hợp với da Châu Á giúp bạn tự tin tỏa sáng.</span
          >
        </p>
        <ul class="v-ngoi-mang-tng-mu-hng-hi">
          <li class="logo-black-rouge-c-in-chm">
            <span class="vc01-porcelain">VC01 - Porcelain</span
            ><span>: Tông màu trung tính thiên sáng, trong trẻo</span>
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span class="vc01-porcelain">VC02 - Vanilla</span
            ><span class="m-u-xun">: Hồng hào ngọc ngà tái sinh làn da</span>
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span class="vc01-porcelain">VC03 - Ginger</span
            ><span class="m-u-xun"
              >: Màu be tự nhiên cùng tông màu mơ nhạt</span
            >
          </li>
        </ul>
        <p class="cm-gic-khi-s-dng"><span class="thng-tin-sn">ƯU ĐIỂM</span></p>
        <ul class="v-ngoi-mang-tng-mu-hng-hi">
          <li class="logo-black-rouge-c-in-chm">
            <span
              >Độ che phủ cao giúp che đi những khuyết điểm trên da một cách
              tuyệt đối</span
            >
          </li>
          <li class="logo-black-rouge-c-in-chm">
            <span>
              Che phủ các vị trí da không đều màu và các nếp nhăn, giúp vẻ ngoài
              hoàn hảo</span
            >
          </li>
        </ul>
        <p class="cm-gic-khi-s-dng">
          <span class="thng-tin-sn">Thông tin thương hiệu</span>
        </p>
        <p class="cm-gic-khi-s-dng">
          <span class="thng-tin-sn">Chính sách đổi trả</span>
        </p>
        <p class="cm-gic-khi-s-dng">
          <span class="thng-tin-sn">Hướng dẫn bảo quản</span>
        </p>
      </div>
      <img class="tho-l-child10" alt="" src="public/vector-5.svg" /><img
        class="tho-l-child11"
        alt=""
        src="public/rectangle-96.svg"
      />
      <div class="sn-phm-bn">SẢN PHẨM BẠN VỪA XEM</div>
      <img class="tho-l-child12" alt="" src="public/rectangle-97@2x.png" /><img
        class="tho-l-child13"
        alt=""
        src="public/rectangle-98@2x.png"
      /><img
        class="tho-l-child14"
        alt=""
        src="public/rectangle-98@2x.png"
      /><img class="tho-l-child15" alt="" src="public/rectangle-98@2x.png" />
      <div class="phn-nc-black-container2">
        <p class="thng-tin-sn-phm">Phấn nước Black Rouge</p>
        <p class="thng-tin-sn-phm">Thin Layer..</p>
      </div>
      <div class="tho-l-child16"></div>
      <img class="image-11-icon" alt="" src="public/image-11@2x.png" />
      <div class="tho-l-child17"></div>
      <div class="bn-quyn-thuc1">
        © Bản quyền thuộc về Legal Entity | DM&C CO., LTD | Cung cấp bởi Sapo
      </div>
      <div class="tho-l-child18"></div>
      <div class="tho-l-child19"></div>
      <div class="h-thng-phn2">Hệ thống phân phối</div>
      <div class="v-black-rouge2">Về Black Rouge</div>
      <div class="trang-ch-gii-container2">
        <ul class="trang-ch-gii-thiu-sn-phm2">
          <li class="trang-ch6">Trang chủ</li>
          <li class="trang-ch6">Giới thiệu</li>
          <li class="trang-ch6">Sản phẩm</li>
          <li class="trang-ch6">Khuyến mãi</li>
          <li class="trang-ch6">Tin tức</li>
          <li>Liên hệ</li>
        </ul>
      </div>
      <div class="chnh-sch-bo-container2">
        <ul class="trang-ch-gii-thiu-sn-phm2">
          <li class="trang-ch6">Chính sách bảo mật</li>
          <li class="trang-ch6">Chính sách vận chuyển</li>
          <li class="trang-ch6">Chính sách đổi trả</li>
          <li>Quy định sử dụng</li>
        </ul>
      </div>
      <div class="a-ch-tng-container2">
        <ul class="trang-ch-gii-thiu-sn-phm2">
          <li class="trang-ch6">
            Địa chỉ: Tầng 10, 194 Golden Building, 473 Điện Biên Phủ, Phường 25,
            Bình Thạnh, Hồ Chí Minh
          </li>
          <li class="trang-ch6">
            Email: cskh@dmnc.vn or blackrougevn@gmail.com
          </li>
          <li>Điện thoại: 0909 312 350</li>
        </ul>
      </div>
      <div class="black-rouge-lun-container1">
        <p class="cm-gic-khi-s-dng">
          Black Rouge luôn tôn trọng mọi cá tính và trải nghiệm của từng cá
          nhân. Vì mỗi bản thể là một màu sắc duy nhất trên vũ trụ này, bạn sẽ
          luôn tỏa sáng theo cách của riêng mình.
        </p>
      </div>
      <img class="image-10-icon1" alt="" src="public/image-101@2x.png" />
      <div class="chnh-sch2">Chính sách</div>
      <div class="lin-h-vi2">Liên hệ với chúng tôi</div>
      <div class="cng-ty-tnhh-container1">
        <p class="cng-ty-tnhh1">
          Công ty TNHH DM&C - MST: 03144724148 do sở Kế Hoạch và Đầu Tư Hồ Chí
          Minh cấp ngày 08/11/2017
        </p>
        <p class="cng-ty-tnhh1">
          Địa chỉ: Tầng 10, 194 Golden Building, 473 Điện Biên Phủ, Phường 25,
          Bình Thạnh, Hồ Chí Minh
        </p>
        <p class="cng-ty-tnhh1">
          Quý đối tác muốn liên hệ hợp tác kinh doanh cùng Black Rouge xin vui
          lòng liên hệ: nguyenlan@dmnc.vn
        </p>
        <p class="for-inquiries-about1">
          For inquiries about our overseas partnership please send to:
          overseassales.dmnc@gmail.com
        </p>
      </div>
      <img class="image-8-icon1" alt="" src="public/image-8@2x.png" /><img
        class="vector-icon1"
        alt=""
        src="public/vector.svg"
      /><img class="vector-icon2" alt="" src="public/vector.svg" /><img
        class="vector-icon3"
        alt=""
        src="public/vector.svg"
      /><img class="vector-icon4" alt="" src="public/vector3.svg" /><img
        class="vector-icon5"
        alt=""
        src="public/vector4.svg"
      /><img
        class="local-grocery-store"
        alt=""
        src="public/local-grocery-store.svg"
      /><img
        class="local-grocery-store1"
        alt=""
        src="public/local-grocery-store1.svg"
        id="localGroceryStore1"
      /><b class="b33"
        ><span> </span><span class="span22">20% </span><span>592.000₫</span></b
      >
      <div class="div28">
        <p class="thng-tin-sn-phm"><span>&nbsp;</span></p>
        <p class="for-inquiries-about1">
          <span class="span22">20% </span><span> 592.000₫</span>
        </p>
      </div>
    </div>
<!-- 
    <script>
      var tRANGCHText = document.getElementById("tRANGCHText");
      if (tRANGCHText) {
        tRANGCHText.addEventListener("click", function (e) {
          window.location.href = "./hng-vn.html";
        });
      }
      
      var tHMVOGI = document.getElementById("tHMVOGI");
      if (tHMVOGI) {
        tHMVOGI.addEventListener("click", function (e) {
          window.location.href = "./F$235:110$";
        });
      }
      
      var localGroceryStore1 = document.getElementById("localGroceryStore1");
      if (localGroceryStore1) {
        localGroceryStore1.addEventListener("click", function (e) {
          window.location.href = "./F$235:110$";
        });
      }
      </script> -->
  </body>
</html>
